# Getting Started With SQL and BigQuery
[Kaggles's Getting Started With SQL and BigQuery](https://www.kaggle.com/dansbecker/getting-started-with-sql-and-bigquery)

[Exercise: Getting Started With SQL and BigQuery](https://www.kaggle.com/aubreyjohn/exercise-getting-started-with-sql-and-bigquery/edit)

**Note:**

Each Kaggle user can scan 5TB every 30 days for free. Once you hit that limit, you'll have to wait for it to reset.

# Select, From & Where
[Kaggles's Select, From & Where](https://www.kaggle.com/dansbecker/select-from-where)

[Exercise: Select, From & Where](https://www.kaggle.com/aubreyjohn/exercise-select-from-where/edit)

# Groupby, having and count
[Kaggles's Groupby, having and count](https://www.kaggle.com/learn/intro-to-sql)

[Exercise: Groupby, having and count](https://www.kaggle.com/aubreyjohn/exercise-group-by-having-count/edit)

# OrderBy
[Kaggles's OrderBy](https://www.kaggle.com/dansbecker/order-by)

[Exercise: OrderBy](https://www.kaggle.com/aubreyjohn/exercise-order-by/edit)

# AS & WITH
[Kaggles's AS & WITH](https://www.kaggle.com/dansbecker/as-with)

[Exercise: AS & WITH](https://www.kaggle.com/aubreyjohn/exercise-as-with/edit)

# Joining Data, LIKE
[Kaggles's Joining Data](https://www.kaggle.com/dansbecker/joining-data)

[Exercise: Joining Data](https://www.kaggle.com/aubreyjohn/exercise-joining-data/edit)

# Joins and Unions
[Kaggles's Joins and Unions](https://www.kaggle.com/alexisbcook/joins-and-unions)

[Exercise: Joins and Unions](https://www.kaggle.com/aubreyjohn/exercise-joins-and-unions/edit)

# Analytic Functions
[Kaggles's Analytic Functions](https://www.kaggle.com/alexisbcook/analytic-functions)

[Exercise: Analytic Functions](https://www.kaggle.com/aubreyjohn/exercise-analytic-functions/edit)

# Nested and Repeated Data
[Kaggles's Nested and Repeated Data](https://www.kaggle.com/alexisbcook/nested-and-repeated-data)

[Exercise: Nested and Repeated Data](https://www.kaggle.com/aubreyjohn/exercise-nested-and-repeated-data/edit)

# Writing Efficient Queries
[Kaggles's Writing Efficient Queries](https://www.kaggle.com/alexisbcook/writing-efficient-queries)

[Exercise: Writing Efficient Queries](https://www.kaggle.com/aubreyjohn/exercise-writing-efficient-queries/edit)

# Connect to MySql Database

In [1]:
import mysql.connector # import the mysql connector
import pandas as pd

In [2]:
db_conn = mysql.connector.connect(
    host="localhost", 
    user="root", 
    passwd="",
    database="employees"
)

if db_conn:    
    print('Success! Database connected successfully') 
else: 
    print("Error! Database not connected")

Success! Database connected successfully

# Show tables in a MySql Database

In [3]:
# show all the tables in our database 
mycursor = db_conn.cursor() 
query_tables = "SHOW TABLES" 
mycursor.execute(query_tables) 
all_tables = mycursor.fetchall() 
all_tables

[('current_dept_emp',),
 ('departments',),
 ('dept_emp',),
 ('dept_emp_latest_date',),
 ('dept_manager',),
 ('employees',),
 ('salaries',),
 ('titles',)]

In [4]:
departments_df = pd.read_sql_query("SELECT * FROM departments",
    db_conn)
departments_df.head()

  dept_no         dept_name
0    d009  Customer Service
1    d005       Development
2    d002           Finance
3    d003   Human Resources
4    d001         Marketing